﻿@model WebApplication1.ViewModels.BMIData
   
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Index")">

    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)
    </br>
    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight) 公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)
    </br>
    @*身高 @Html.TextBoxFor(m => m.Height) 公分 @ViewBag.HeightError <br />
        體重 @Html.TextBoxFor(m => m.Weight)  公斤 @ViewBag.WeightError <br />*@

    @*身高 <input type="text" name="height" value="" />公分 @ViewBag.HeightError <br/>
        體重 <input type="text" name="weight" value="" />公斤 @ViewBag.WeightError <br/>*@

    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level