﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <form method="post">
        姓氏 <input type="text" name="lastname" value="" />
        名字 <input type="text" name="firstname" value="" />
        <br />
        電子郵件 <input type="text" name="email" value="" />
        <br />
        密碼 <input type="password" name="password" value="" />
        <br />
        生日
        <select name="year">
            <option value="2017">2017</option>
            <option value="2016">2016</option>
        </select>年
        <select name="month">
            <option value="1">1月</option>
            <option value="2">2月</option>
        </select>月
        <select name="day">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>日

        <br />
        性別
        <input type="radio" name="sex" value="1"> 男生
        <input type="radio" name="sex" value="0"> 女生

        <br />
        <input type="submit" value="送出" />
    </form>

    @using (Html.BeginForm("About", "Home", FormMethod.Post))
    {
        @Html.TextBox("username")
        <br />
        @Html.TextBox("email")
        <br />
        @Html.Password("pwd")
    }
    @{
        string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };

        <ol>
            @foreach (var item in fruits)
            {
                <li> @item </li>
            }
        </ol>
    }


    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>